.brief {
    .resources {
        .tab-content {
            width:100%;
            margin-top: 15px;
            border:1px solid #ddd;
            padding:5px;
        }
    }
}

$assetFooterHeight: 60px;
$assetHeaderHeight: 60px;
.assets {
    $assetWidth: 200px;
    .asset-item {
        display:inline-block;
        width: $assetWidth;
        margin: 5px 5px;
        border: 1px solid #ddd;
        padding: 3px 2px;
        .opts {
            font-size: 10px;
        }
    }
    .asset-pane {
        position:absolute;
        top: $assetHeaderHeight;
        bottom: $assetFooterHeight;
        left: 10px;
        right: 10px;
        overflow:scroll;
    }
    .photo-asset {
        img {
            height: auto;
            width: $assetWidth - 5;
        }
    }

    .asset-footer {
        position:absolute;
        height: $assetFooterHeight;
        bottom:0;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }
}
