@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700,700italic,500italic,300italic);

.app-pane {
    background-color: #fff;
    color: #111;
}

.panel-body {
    a {
        display:block;
    }
}

h2, h3, h4, h5 {
    padding:10px auto;
}

.relative {
    position:relative;
}

.bg-dark { background-color: #222; color: #ddd; }

.bordered-light { border: 1px solid #fff; }
.bordered-dark { border: 1px solid #000; }
